*{
    margin:0;
    padding:0;
}
#wrapper{
    width:1050px;
    height:600px;
    overflow:hidden;
    margin-left:100px;
    position:relative;
    /*overflow: hidden;*/
}
#list{
    width:5250px;
    height:600px;
    /*left:0px;*/
    position:absolute;
    z-index: 1;
}
.active{
    color:orange;

}
img{
    float:left;
    width:1050px;
    height:600px;
}
.slide-btn {
    position:absolute;
    left:0;
    right:0;
    bottom:20px;
    text-align: center;
    z-index:10;
}
a{
    color:white;
    font-size:10px;
    display:inline-block;
    text-decoration: none;
}

.now{
    color:orange;
}
.post{
    display:block;
    position:absolute;
    z-index:11;
    top:250px;
    bottom:0;
    right:2px;
    width:27px;
    height:49px;
    background:url("../img/sprites.png") no-repeat 0 -883px;
    background-color: RGBA(0,0,0,0.2);

}
.prev{
    display:block;
    position:absolute;
    z-index:11;
    top:250px;
    bottom:0;
    left:2px;
    width:27px;
    height:49px;
    background:url("../img/sprites.png") no-repeat 0 -991px;
    background-color: RGBA(0,0,0,0.2);
}
a{
    cursor:pointer;
}
a.prev:hover{
    /*background*/
    background-color: RGBA(0,0,0,1);
}
a.post:hover{
    background-color: RGBA(0,0,0,1);

}